[submodule "comupp/src/lib/crtm"]
	path = comupp/src/lib/crtm2
	url = https://github.com/NCAR/UPP_CRTM
[submodule "comupp/src/lib/crtm2"]
	path = comupp/src/lib/crtm2
	url = https://github.com/NCAR/UPP_CRTM
