total 256
drwxr-xr-x 3 Yali.Mao g01    512 Apr  7 17:40 docs
drwxr-xr-x 3 Yali.Mao g01    512 Jun 23 14:02 exec
drwxr-xr-x 3 Yali.Mao g01    512 Apr  7 17:40 jobs
drwxr-xr-x 3 Yali.Mao g01 131072 Apr  7 18:08 parm
drwxr-xr-x 3 Yali.Mao g01    512 Apr  7 17:40 scripts
drwxr-xr-x 4 Yali.Mao g01    512 Apr  7 17:40 sorc
-rw-r--r-- 1 Yali.Mao g01    180 Sep  2 14:01 svn-commit.tmp~
-rw-r--r-- 1 Yali.Mao g01      0 Sep  2 14:05 tt.tt
drwxr-xr-x 3 Yali.Mao g01    512 Apr  7 17:40 ush
